@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#191A1F] font-body text-white select-none pt-6 px-5 mx-auto;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  .page-container {
    margin-left: 180px !important;
    margin-right: 250px !important;
  }
  .page-container-movie {
    margin-left: 180px !important;
  }
  .page-container-review {
    max-width: 250px;
  }
  .movie-list .swiper-slide {
    width: calc(calc(100%) / 4);
    height: auto;
  }
  .user-comments {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
  .selected {
    @apply text-primary;
  }

  .previous > a {
    font-size: 16px;
  }
}
