@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#191A1F] font-body text-white pt-6 px-5 mx-auto;
  }
}
@layer components {
  .page-container {
    margin-left: 180px !important;
    margin-right: 250px !important;
  }
  .page-container-movie {
    margin-left: 180px !important;
  }
  .page-container-review {
    max-width: 250px;
  }
  .movie-list .swiper-slide {
    width: calc(calc(100%) / 4);
    height: auto;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
  .selected {
    @apply text-primary;
  }

  .previous > a {
    font-size: 16px;
  }
}
